@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

:root{
    --background-color: white;
    --x-color-primary: #D45757;
    --x-color-shadow: #D4575740;
    --o-color-primary: #373434;
    --o-color-shadow: #37343420;
}

[color-scheme="default-dark"] {
    --background-color: #262D3C;
    --x-color-primary: #D45757;
    --x-color-shadow: #D4575740;
    --o-color-primary: white;
    --o-color-shadow: #FFFFFF10;
}

[color-scheme="mono-light"] {
    --background-color: white;
    --x-color-primary: black;
    --x-color-shadow: #00000020;
    --o-color-primary: black;
    --o-color-shadow: #00000020;
}

[color-scheme="mono-dark"] {
    --background-color: black;
    --x-color-primary: white;
    --x-color-shadow: #FFFFFF30;
    --o-color-primary: white;
    --o-color-shadow: #FFFFFF30;
}

[color-scheme="solarized-light"] {
    --background-color: #FDF6E3;
    --x-color-primary: #CB4B16;
    --x-color-shadow: #CB4B1635;
    --o-color-primary: #586E75;
    --o-color-shadow: #586E7540;
}

[color-scheme="solarized-dark"] {
    --background-color: #073642;
    --x-color-primary: #CB4B16;
    --x-color-shadow: #CB4B1640;
    --o-color-primary: #eee8d5;
    --o-color-shadow: #eee8d520;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--o-color-primary);
    background-color: var(--background-color);
}

@media screen and (max-width: 600px),
screen and (max-height: 800px) {

    html,
    body {
        zoom: 0.9;
    }
}

#main-container {
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.cell,
.cell::after {
    background: transparent;
    /* transition: border-width 0.15s linear; */
    transition: background 0.3s ease, border-radius 0.4s ease, border 0.3s ease, transform 0.2s ease, width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    padding: 0;
}

.cell::after {
    content: "";
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.3;
    box-sizing: border-box;
}

.cell.square,
.cell.square::after {
    margin: 15px;
    width: 70px;
    height: 70px;
    border: 2px solid var(--x-color-primary);
    border-radius: 15px;
}

.cell.circle,
.cell.circle::after {
    margin: 12.5px;
    width: 75px;
    height: 75px;
    border: 2px solid var(--o-color-primary);
    border-radius: 50%;
}

.cell:hover,
.cell:hover::after {
    border-width: 5px;
}

.cell:active,
.cell:active::after {
    border-width: 8px;
}

button,
select {
    transition: transform 0.2s linear;
}

button:not(.cell):hover,
select:hover {
    transform: scale(1.1);
}

button:not(.cell):active,
select:not(.cell):active {
    transform: scale(0.9);
}

.cell.square.filled,
.cell.square.filled::after {
    border: 35px solid var(--x-color-primary);
    background: var(--x-color-primary);
}

.cell.circle.filled,
.cell.circle.filled::after {
    border: 18px solid var(--o-color-primary);
}


#main-container h1 {
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 900;
    white-space: nowrap;
    margin: 0;
    transition: color 1s ease;
}

#main-container h1.x {
    color: var(--x-color-primary)
}

#main-container h1.o {
    color: var(--o-color-primary)
}


#menu {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#menu button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--background-color);
    color: var(--o-color-primary);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--o-color-shadow);
    width: 100%;
}

#themes-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-left: 10px;
}

.theme-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

#credits {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    color: var(--o-color-primary);
    height: fit-content;
    margin: 5px;
}

#credits p {
    margin: 0;
}

#credits a {
    color: var(--x-color-primary);
    text-decoration: none;
}

#credits a:hover {
    text-decoration: underline;
}